<!doctype html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="../stylesheet.css" type="text/css">
</head>
<body>
  <div class="messages">
    <%= session.delete(:error_message) %>
  </div>
  <%= yield %>
</body>
</html>