<h1>Sign Up Form</h1>

<form action="/signup" method="post">
  <label>Username:
    <input type="text" name="username">
  </label>
  <label>Password:
    <input type="password" name="password">
  </label>
  <input type="submit">
</form>

<a href="/"><button>Back to Index</button></a>